body
{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.directory
{
    width: 100vw;
    height: 75px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
}
a
{
    color: green;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pagetitle
{
    font-weight: 750;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 15px;
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2
{
    font-weight: 750;
    margin-right: 25px;
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.people
{
    font-weight: 600;
    font-size: 20px;
}
a.back
{
    text-decoration: none;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: cornflowerblue;
    width: 35px;
    height: 20px;
    border-radius: 2px;
    border-color: grey;
}
.funfact
{
    color: rgb(175, 133, 25);
    font-weight: 600;
}